<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
    <div class="field">
      <%= f.label :rating %><br>
      <%= f.select :rating, [1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5] %>
    </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 7 %>
  </div>
    <%= f.hidden_field :movie_id, value: @movie.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="actions">
    <%= f.submit 'Create', class: 'button' %>
  </div>
<% end %>
